.info_vehicle_pophover { 
  border-radius: 1em;
  background-color: rgb(255, 200, 138);
  padding: 1em;
} 
/* style={{ backgroundColor: 'white', border: '1px solid black', opacity: 0.75, padding: 12 }} */

.map {
  position: relative;
}
.menu_map {
  padding: 1em;
  background-color: white !important;
  width: 300px;
  height: 450px;
  max-height: 90vh !important;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  overflow-y: auto;
}

.show_menu {
  position: absolute !important;
  top: 11px;
  left: 0px;
  background-color: white !important;
  z-index: 1;
  cursor: pointer;
  box-shadow:  rgb(158 158 158 / 87%) 7px 9px 15px 0px;
  border: 0px !important;
  padding: 0px !important;
  text-transform: none;
  border-radius: 2px!important;
  height: 38px !important;
}

.get_current_location {
  position: absolute !important;
  bottom: 85px;
  right: 10px;
  background-color: white !important;
  z-index: 1;
  
  cursor: pointer;
  box-shadow: rgba(20, 20, 20, 0.322)  0px 0px 2px 0px;
  border: 0px !important;
  text-transform: none;
  padding: 8px;
  color: red;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50% !important;
}

.get_current_location > span {
  position: absolute;
  right: 22.5%;
  top: 22%;
}
.state_lite {
  position: absolute !important;
  bottom: 0px;
  left: 0px;
  background-color: white !important;
  z-index: 1;
  cursor: pointer;
  box-shadow:  rgb(158 158 158 / 87%) 7px 9px 15px 0px;
  border: 0px !important;
  padding: 0px !important;
  text-transform: none;
  border-radius: 2px!important;
  height: 38px !important;
}

.show_menu button:hover {
  border-radius: 2px!important;
  background-color: gray !important;

}

.vehicle_table_road_map {
  background-color: transparent !important;
  font-size: 11px !important
}
.vehicle_table_outer_roadmap {
  background-color: transparent !important;
  font-size: 11px !important
}
.license_number_marker {
  background-color: rgb(248, 221, 195);
  padding: 0.2em;
  width: max-content !important;
  border-radius: 0.1em;
  color: rgb(59, 18, 18);
  font-weight: bold;
}

.your_location {
  background-color: rgba(19, 19, 19, 0.493);
  color: white;
  padding: 0.5em;
  border-radius: 5px
}

.license_number_box .gm-ui-hover-effect {
  visibility: hidden;
}
.gm-style-mtc{margin-bottom:20px !important}

.info_vehicle_window {
  padding: 0.1em;
  width: 375px !important;
}



/* style Open Street Map */
.leaflet-right .leaflet-control .leaflet-control-zoom{
  position: fixed;
  right: 25px;
  top: 250px;
}

.get_current_location {
  z-index: 999 !important;

} 

.leaflet-routing-container{
  display: none;
}

.leaflet-popup-content-wrapper ::-webkit-scrollbar {
  display: none;
}

.leaflet-popup-content-wrapper{
  padding-top: 5px !important;
}


.leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0) !important; 
  border: none !important;
  box-shadow: none !important; 
} 

.tooltip-label{
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  /* font-size: 20px; */
  box-shadow: none !important;
  margin-top: 5px !important;
 
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    display: none !important;
}


.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important; 
  border: none !important;
  box-shadow: none !important; 
}

.select-map{
 
}



